#How to install: "pip install -r requirements.txt"

# --- Frontend  and User Interface ---
customtkinter
pywebview

# --- Computer Vision (Face and Hands) ---
opencv-python
mediapipe
numpy

# --- Audio Recording and Analysis ---
sounddevice
scipy
pydub
faster-whisper
praat-parselmouth